[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-serializer = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-restful = "*"
flask = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-migrate = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
